<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">

<meta charset="ISO-8859-1">
<title>Document Manager</title>
</head>
<body>

<style>
body {
  background-image: url('/images/img6.png');
}
</style>
 
<div class ="container-fluit text-center">
   <h1>Document Manager</h1>  
   <div class="container-fluit text-right">
    <a href="http://localhost:3000/logout" class="btn btn-link"><h4><u>Logout</u></h4></a>
    <br />
</div>
<div class="text-success">
<center><h3>[[${message}]]</h3></center>

</div>
<div class ="row border rounded m-3 p-3">


<th:block th:each="doc : ${list}">


<div class="col" >
<div>
<img th:src="@{/images/file.jpg}"/ width="80">


</div>
<div>
<a th:href="@{'/download?id='+${doc.doc_id}}">[[${doc.fileName}]]</a>
</div>
<div>
([[${doc.fileSize}]]bytes)
</div>
<form th:action="@{/docdelete}" method="get" enctype="multipart/form-data" style="margin: 0 auto;">
<input type="checkbox" name="doc_id" th:value="${doc.doc_id}" required /> 


<table>
<tr>
<td><input type="submit" value="Delete" name ="delete"class="btn btn-primary" /></td>
<td><input type="submit" value="Share" name="share" class="btn btn-primary" /></td>
</tr>
</table>



</form>
</div>
</div>
<th:block/>

<form th:action="@{/upload}" method="post" enctype="multipart/form-data"
 style="max-width: 600px; margin: 0 auto;">
 <br/><br/> <br/><br/>
<div class ="border rounded m-3">
<h2> Upload Your Files :</h2>
<p>
<input type="file" name="document" required />
</p>

 <p>
 <input type="submit" value="upload" class="btn btn-primary">
 </p>
 </div>
</form>
</div>

</body>
</html>